*{
    padding: 0;
    margin: 0;
    background-color: black; 

}


li a{
text-decoration: none; /*remove o sublinhado */
font-size: 20px;
color: #ffffff; 
}

li{
    list-style: none;
}

#logo{

    height: 100px;
    width: 180px;

}


ul{
    display: flex;
    flex-direction: row;
}
    